*.script linguist-language=Lua
*.render_script linguist-language=Lua
*.gui_script linguist-language=Lua

*.script_api linguist-language=YAML
ext.manifest linguist-language=YAML

*.go linguist-documentation
AcPlay/(deprecated)libarf2.hpp linguist-documentation

AcPlay/AcArf2/include/arf2_generated.h linguist-generated
AcPlay/AcArf2/include/ease_constants.h linguist-generated
Python/Prototypia/Arf2Fb.py linguist-generated
Python/Prototypia/Arf2Index.py linguist-generated
Python/Prototypia/WishChild.py linguist-generated
Python/Prototypia/WishGroup.py linguist-generated

AcPlay/AcArf2/include/flatbuffers/** linguist-vendored
Viewer/AcDefOS/** linguist-vendored
Viewer/AcLFS/** linguist-vendored
Viewer/AcOpenAL/** linguist-vendored
Viewer/AcDirtyLarry/** linguist-vendored
