*.script linguist-language=Lua
*.render_script linguist-language=Lua
*.gui_script linguist-language=Lua

*.script_api linguist-language=YAML
*.appmanifest linguist-language=YAML
ext.manifest linguist-language=YAML
*.go linguist-documentation

AcPlay/include/arf2_generated.h linguist-generated
AcPlay/include/ease_constants.h linguist-generated
Python/Prototypia/Arf2Fb.py linguist-generated
Python/Prototypia/Arf2Index.py linguist-generated
Python/Prototypia/WishChild.py linguist-generated
Python/Prototypia/WishGroup.py linguist-generated

AcPlay/include/flatbuffers/** linguist-vendored
AcPlay/include/miniaudio.h linguist-vendored
AcPlay/src/ma_impl.cpp linguist-vendored
AcPlay/src/ma_impl.mm linguist-vendored

Viewer/AcDefOS/** linguist-vendored
Viewer/AcLFS/** linguist-vendored
Viewer/AeDirtyLarry/** linguist-vendored
